/* -------- Custom style of ant design -------- */

.code-box-demo {
  text-align: center;
}
.ant-layout-header {
  background: #fff;
  color: #000;
  box-shadow: 0px 2px 4px 0px #ccc;
  padding: 0 24px;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  line-height: 120px;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  background: #fff;
  box-shadow: 0px 2px 4px 0px #ccc;
}
.ant-layout-content {
  background: #fff;
  color: #000;
  min-height: 825px;
  line-height: 120px;
  margin: 24px;
  padding: 24px;
}

.logo {
  height: 45px;
  margin: 16px;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  padding: 0;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background: none;
}

.ant-dropdown-menu {
  padding: 4px 0 0;
}

.info-user-name {
  margin: 0 10px;
}

h3.ant-typography {
  margin: 0;
  padding: 24px 24px 0;
}

> .code-box-demo > div > .ant-layout {
  margin-bottom: 48px;
}
> .code-box-demo > div > .ant-layout:last-child {
  margin: 0;
}
